<div id="ariadne_thread-xs">
    <span class="{{ app.session.get('breadcrumb_create') ~' ' ~ app.session.get('breadcrumb_create')~"-xs" }}" ><span></span><span>Création</span><span></span></span>
    <span class="{{ app.session.get('breadcrumb_connect')~' ' ~ app.session.get('breadcrumb_connect')~"-xs" }}" ><span></span><span>Connexion</span><span></span></span>
    <span class="{{ app.session.get('breadcrumb_share') ~' ' ~ app.session.get('breadcrumb_share')~"-xs"}}" ><span></span><span>Partage</span><span></span></span>
</div>