{% extends 'PollBundle:PollView:pollCreation_template.html.twig' %}
{% block choices %}
    <div id="choices">
        <div class="choice">
            <label for="choix1" class="text lbl_choice">Choix 1<span class="asterisc"> *</span></label>
            <input required="required" class="text_edit input_choice form-control" id="choix1" type="text"
                   name="choices[]" value=""/>

        </div>
        <div class="choice">
            <label for="choix2" class="text lbl_choice">Choix 2<span class="asterisc"> *</span></label>
            <input required="required" class="text_edit input_choice form-control" id="choix2" type="text"
                   name="choices[]" value=""/>
        </div>
    </div>
    <div id="add_choice" class="choice">
        <input class="text_edit input_choice form-control add_choix" id="choix3" type="text" name="choices[]"
               disabled="true" placeholder="Ajouter un choix"/>
        <a class="btn btn-default orange_button add_choice_button" title="Ajouter un champ" id="add_choice_button"
           type="button" onclick="manageChoices(this,'{{ type }}');">+</a>
    </div>
    <input class="btn btn-default orange_button next_step" type="submit" value="Étape suivante"/>
{% endblock %}


{% block choices_mobile %}
    <div id="choices">
        <div class="choice choice-xs">
            <label for="choix1" class="text lbl_choice">Choix 1<span class="asterisc"> *</span></label>
            <input required="required" class="text_edit input_choice form-control" id="choix1" type="text"
                   name="choices[]" value=""/>
        </div>
        <div class="choice choice-xs">
            <label for="choix2" class="text lbl_choice">Choix 2<span class="asterisc"> *</span></label>
            <input required="required" class="text_edit input_choice form-control" id="choix2" type="text"
                   name="choices[]" value=""/>

        </div>
    </div>
    <div class="choice choice-xs">
        <input class="text_edit input_choice form-control add_choix" id="choix3" type="text"
               name="choices[]" disabled="true" placeholder="Ajouter un choix"/>
        <a class="btn btn-default orange_button add_choice_button" title="Ajouter un champ"
           id="add_choice_button" type="button" onclick="manageChoices(this,'{{ type }}');">+</a>
    </div>
{% endblock %}


