{% if app.session.get('position') != "Vide"%}
{% extends 'PollBundle:Default:layout.html.twig' %}
{% endif %}
	{% block body %}
        <div id="content">
            <div id="ariadne_thread"> 
			<span class="grey_ariadne" ><span></span><span>Création</span><span></span></span>
			{#{% if show_ariadne is defined %}
				{% if show_ariadne == true %}#}
				<span class="grey_ariadne" ><span></span><span>Connexion</span><span></span></span>
				{#{% endif %}
			{% endif %}#}
			<span class="orange_ariadne" ><span></span><span>Partage</span><span></span></span>
			</div>
			
            <form onsubmit="return formCheck(this)" id="share_form" class="default_form" method="post" action="mail">
                <h2 class="title">Votre sondage a bien été créé !</h2>
                <h3 class="small_title">Lien du sondage</h3>
                <label class="text" for="poll_link" >Lien</label>
                <input name="poll_link" type="text" id="poll_link" class="text_edit form-control" readonly onClick="this.select();" value="www.diapazen.com/{{ app.session.get('pool').getPoll_type }}/{{ app.session.get('pool').getPollUrl }}" />
                <h3 class="small_title">Partagez ce lien par e-mail</h3>
                <label class="text lbl_textarea" for="mails">E-mails</label>
                <textarea class="small_text_edit form-control" id="mails" name="mails" placeholder="mail.example@mail.com                                             Séparer les adresses par ; ou , ou retour à la ligne"></textarea>
                <input class="btn btn-default orange_small_button " type="submit" value="Partager">
                <a class="btn btn-default orange_small_button  link_connect" href="{{ path('poll_dashboard')}}">Voir le sondage</a>
            </form>
			{#{{ form_end(form) }}#}
        </div>
	{% endblock %}
{% block footer %}
{% endblock %}
