<div id="ariadne_thread">
    <span class="{{ app.session.get('breadcrumb_create') }}" ><span></span><span>Création</span><span></span></span>
    <span class="{{ app.session.get('breadcrumb_connect') }}" ><span></span><span>Connexion</span><span></span></span>
    <span class="{{ app.session.get('breadcrumb_share') }}" ><span></span><span>Partage</span><span></span></span>
</div>