{% extends 'PollBundle::layout.html.twig' %}
        <div id="content">
            <img id="broken_diapason" src="{{ asset('bundles/projet/images/pictures/diapason_broken.png') }}" alt="diapason broken" >
            <div id="text_404">
            	<p class="big_title" >Erreur interne du serveur</p>
            	<p class="title" >Nous sommes désolé, une erreur critique est survenue.</p>
            	<a class="link" href="{{ path('poll_index') }}">Aller à la page d'accueil</a>
            </div>
        </div>
{% include 'PollBundle:Default:footer.html.twig' %}