
	<!--echo $width_ariadne; 
	echo $width_ariadne; 
	echo $class_connect; 
	echo $class_share;-->
	<div style="width: 200px;" id="ariadne_thread"> 
		<span class="ariane_ariadne" ><span></span><span>Création</span><span></span></span>
		{% if show_ariadne is defined %}
			{% if show_ariadne is true %}
			<span class="connect_ariadne" ><span></span><span>Connexion</span><span></span></span>
			{% endif %}
		{% endif %}
		?>
		<span class="share_ariadne" ><span></span><span>Partage</span><span></span></span>
	</div>