{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}
	{% block body %}
		<div id="content">
			<div id="text_404">
				<p class="big_title" >E mail</p>
				<p>Bonjour {{ name }}, ceci est un mail de teste envoyé par la matrice.</p>
			</div>
		</div>
	{% endblock %}  
