{#{% include 'BdlsProjetBundle:Default:ariadneThread.html.twig' %}#}
{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}
	{% block body %}
	<div id="content">
		<div style="width: 2000px;" id="ariadne_thread"> 
		<span class="orange_ariadne" ><span></span><span>Création</span><span></span></span>
		{#{% if show_ariadne is defined %}
			{% if show_ariadne == true %}#}
			<span class="grey_ariadne" ><span></span><span>Connexion</span><span></span></span>
			{#{% endif %}
		{% endif %}#}
		<span class="grey_ariadne" ><span></span><span>Partage</span><span></span></span>
		</div>
	
		
		
		{# remplacement du type d'input  #}
		<form onsubmit="return formCheck(this);" id="poll_creation_form" class="default_form" action="connect" method="post">
			<h1 class="small_title">Votre sondage de type {{ nametype }}</h1>
			<input name="type" type="hidden" value="c2">
			<label for="id_title_input" class="text">Titre<span class="asterisc"> *</span></label>
			<input class="text_edit" id="id_title_input" name="title_input" type="text" value="">
			<label for="datepicker" class="text">Date limite</label>
			<input class="text_edit datepicker" name="date_input" id="datepicker" readonly="true"/>
			<label for="id_description_input" class="text lbl_textarea">Description<span class="asterisc"> *</span></label>
			<textarea class="small_text_edit" id="id_description_input" maxlength="1000" placeholder="1000 carac. maximum." name="description_input"></textarea>
			<h1 class="small_title">Propositions de {{ nametype }}</h1>
			<div id="choices">
				<div class="choice">
					<label for="choix1" class="text lbl_choice datepick">Date limite 1<span class="asterisc"> *</span></label>
					<input class="text_edit input_choice datepicker" id="choix1"  name="choices[]" value=""  readonly="true" />
                                        <a class="grey_button" title="Supprimer" type="button" onclick="manageChoices(this);">x</a>
				</div>
				<div class="choice">
					<label for="choix2" class="text lbl_choice datepick">Date limite 2<span class="asterisc"> *</span></label>
					<input class="text_edit input_choice datepicker" id="choix2"  name="choices[]" value=""  readonly="true" />           
					<a class="grey_button" title="Supprimer" type="button" onclick="manageChoices(this);">x</a>
				</div>
				<div class="choice">
					<label for="choix3" class="text lbl_choice datepick">Date limite 3<span class="asterisc"> *</span></label>
					<input class="text_edit input_choice datepicker" id="choix3"  name="choices[]" value=""  readonly="true" />                                    
					<a class="grey_button" title="Supprimer" type="button" onclick="manageChoices(this);">x</a>
				</div>
			</div>
			<input class="orange_button" type="submit" value="Étape suivante" />
			<a class="orange_button" title="Ajouter un champ" id="add_choice_button" type="button" onclick="manageChoices(this,'{{ type }}');">+</a>
		</form>
	</div>
  
    <script src={{ asset('bundles/projet/js/sondage_date.js') }}> </script>
    {% endblock %}  
  

